{% extends "layout.html" %}
{% block body %}

<div class="site-wrapper">
<div class="site-wrapper-inner">
<div class="cover-container">

<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">Clique</h3>
        <ul class="nav masthead-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/logout">Log out</a></li>
            <li class="active"><a href="/cred">Test Creds</a></li>
        </ul>
    </div>
</div>

<div class="inner cover">

    <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th width="15%">Name</th>
                <th width="35%">Notes</th>
                <th width="20%">Status</th>
                <th width="15%">Last checkout</th>
                <th width="15%">Expires on</th>
            </tr>
            </thead>
        </table>
        <div class="bodycontainer scrollable">
            <table class="table table-hover text-left">
                <tbody>
                <tr>
                    <td>Hipchat</td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-warning">Tim Secor</button>
                    </td>
                    <td>8/15/2014</td>
                    <td>8/20/2014</td>
                </tr>
                <tr>
                    <td>Coupa</td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-warning">Cindy Wu</button>
                    </td>
                    <td>8/15/2014</td>
                    <td>8/20/2014</td>
                </tr>
                <tr>
                    <td>Google Apps</td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-warning">Bryant Ng</button>
                    </td>
                    <td>8/15/2014</td>
                    <td>8/20/2014</td>
                </tr>
                <tr>
                    <td>Hipchat</td>
                    <td>Administrator privileges.</td>
                    <td>
                        <button type="button" class="btn btn-warning">Shaolin Shen</button>
                    </td>
                    <td>8/15/2014</td>
                    <td>8/20/2014</td>
                </tr>
                <tr>
                    <td>Workday</td>
                    <td>For Sales use only.</td>
                    <td>
                        <button type="button" class="btn btn-warning">Angie Song</button>
                    </td>
                    <td>8/15/2014</td>
                    <td>8/20/2014</td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="mastfoot">
    <div class="inner">
        <p>Project for <a href="http://www.okta.com">Okta</a>, by <a href="mailto:rwang@okta.com">@RaymondWang</a> &amp;&amp; <a href="mailto:jackychen@okta.com">@JackieChan</a>.</p>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}
