{% extends "layout.html" %}
{% block body %}

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Clique</h3>
                    <ul class="nav masthead-nav">
                        <li><a href="/home">Home</a></li>
                        <li class="active"><a href="/join">Join</a></li>
                        {% if session['username'] %}
                        <li><a href="/logout">Log out</a></li>
                        {% else %}
                        <li><a href="/login">Login</a></li>
                        {% endif %}
                        {% if session['username'] %}<li><a href="/cred">Test Creds</a></li>{% endif %}
                    </ul>
                </div>
            </div>

            <div class="inner cover">
                <form class="form-signin" role="form" action="{{ url_for('join') }}" method="post">
                    {% if joined %}<p><strong>You are in the Clique.</strong> {% endif %}
                    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
                    <input type="email" class="form-control" placeholder="Email address" required autofocus
                           name="username">
                    <input type="password" class="form-control" placeholder="Password" required name="password">
                    <input type="submit" value="Join the Clique" class="btn btn-default form-control"/>
                </form>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Project for <a href="http://www.okta.com">Okta</a>, by <a href="mailto:rwang@okta.com">@RaymondWang</a>
                        &amp;&amp; <a href="mailto:jackychen@okta.com">@JackyChen</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
